@import url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

a:link {
    color: green;
    text-decoration: none;
}

a:visited {
    color: green;
}

a:hover {
    color: green;
    text-decoration: underline;
}

body { 
    width: 960px;
    margin: auto; 
    background-color: whitesmoke;
}

h1 {
    margin-top: 10px;
    color: rgb(22, 102, 102);
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    text-align: center;
}

.head {
    color: rgb(22, 102, 102);
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.about-defuse {
    color: rgb(22,102,102);
    font-size: 20px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

#name {
    color: rgb(22, 102, 102);
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    text-align: center;
}

#about-border {
    width: 370px;
}

.centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about{ 
    color: rgb(22,102,102);
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    text-align: center;
}

/* Styles links in link menu */
.navmen a{
    color: black;
}

/* Navmenues Link style */
nav {
    padding: 10px;
    font-size: 22px;
    text-align: center;
    background-color: rgb(22,102,102);
}

footer{ 
    clear: both;
    font-size: 20px;
    text-align: center;
    background-color: rgb(22, 102, 102);
}