@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

a:link {
    color: green;
    text-decoration: none;
}

a:visited {
    color: green;
}

a:hover {
    color: green;
    text-decoration: underline;
}

.about {
    color: black;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}

.container {
    width: 960px;
    margin: auto; 
}

/* Styles links in link menu */
.navmen a{
    color: black;
}

/* Navmenues Link style */
nav {
    padding: 10px;
    font-size: 22px;
    text-align: center;
    background-color: rgb(22,102,102);
}

h1 {
    color: rgb(22, 102, 102);
    font-family: 'Odibee Sans', cursive;
    font-size: 48px;
}

footer{ 
    font-size: 20px;
    text-align: center;
    background-color: rgb(22, 102, 102);
}